---
import MainLayout from "../../layouts/MainLayout.astro";

import { getAllPosts } from "../../sanity/api.js";
import { getSanityImage } from "../../sanity/getSanityImage.js";

import PortableText from "../../components/PortableText.astro";

export async function getStaticPaths() {
  const allBlogPosts = await getAllPosts();
  return allBlogPosts.map(post => ({ params: { slug: post.slug.current }, props: { post } }));
}

const { post } = Astro.props;
---

<MainLayout title={post.title}>
  <div class="container mx-auto">
    <img class="w-full h-[50vh] object-cover" src={getSanityImage(post.mainImage).url()} alt="">
    <p>{post.publishedAt}</p>
    <h1 class="font-inter font-bold text-3xl">{post.title}</h1>
    <PortableText portableText={post.body} />
  </div>
</MainLayout>